*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2.6rem;
}
li {
  list-style: none;
}
a.nav__link {
  text-decoration: none !important;
  font-size: 30px;
  color: #f59793 !important;
  font-family: cursive;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background: #f3e7db;

}
.nav__brand {
  text-transform: uppercase;
}
.nav__brand img {
  width: 36%;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  margin-bottom: 0;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: black;
  transition: 0.3s ease-in;
}


/* Active Class */



/* Toggle Icon Animation */

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
    position: relative;
    top: -37%;
  }
  .nav__menu {
    position: fixed;
    top: 10vh;
    height: 30vh;
    width: 32vw;
    right: 0;
    background: #f3e7db;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    background-repeat: round;
    z-index: 2;
  }
  .nav__active {
    transform: translateX(0%);
    z-index: 2;
    right: 3%;
    padding: 10px;
  }

  .nav__brand {
    display: contents;
  } 
  .nav__brand img {
    width: 21%;
    position: relative;
    left: -8%;
  }
  .nav__menu {
    gap: 1rem;
  }

}

@media screen and (max-width: 425px) {
  .nav__brand img {
    width: 28%;
    position: relative;
    left: -8%;
    top: 12%;
  }
  a.nav__link {
    font-size: 20px;
  
  }
  .nav__menu {
    height: 20vh;
    width: 40vw;
  }
  .nav__active {
    right: 0;
  }
  .nav__toggler {
    top: -13%;
  }
  
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}